:root {
  --main-title-colore: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*-----HEADER--- */
.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  margin-left: 93px;
}
.header-right {
  display: flex;
  margin-left: auto;
}
.header-list .header-item:not(:last-child) {
  margin-right: 50px;
}
.header-item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-potfolio:hover,
.header-potfolio:focus,
.header-contact:hover,
.header-contact:focus,
.header-studio-second:hover,
.header-studio-second:focus {
  color: var(--accent-color);
}
.header-potfolio,
.header-contact,
.header-studio-second {
  transition: color var(--time) var(--timing-function);
}
.header-right .header-right-item + .header-right-item {
  margin-left: 50px;
}
.header-logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  padding-top: 24px;
  padding-bottom: 25px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header-logo-studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  padding-top: 24px;
  padding-bottom: 25px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.header-studio {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.header-studio::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}
.header-studio-second {
  font-weight: 500;
  font-size: 14px;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-potfolio {
  font-weight: 500;
  font-size: 14px;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-potfolio-second {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.header-potfolio-second::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}
.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.envelope {
  display: block;
  fill: var(--main-text-color);
  transition: fill var(--time) var(--timing-function);
}
.smartphone {
  display: block;
  fill: var(--main-text-color);
  transition: fill var(--time) var(--timing-function);
}
.header-icons {
  margin-right: 10px;
}
.header-email {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time) var(--timing-function);
}
.header-email:hover,
.header-email:focus,
.header-email:hover .envelope,
.header-email:focus .envelope {
  color: var(--accent-color);
  fill: currentColor;
}
.header-tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time) var(--timing-function);
}
.header-tel:hover,
.header-tel:focus,
.header-tel:hover .smartphone,
.header-tel:focus .smartphone {
  color: var(--accent-color);
  fill: currentColor;
}
/*----HERO----*/
.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  display: block;
  text-align: center;
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  justify-content: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-colore);
}
.hero-button {
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  color: var(--main-title-colore);
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  transition: background-color var(--time) var(--timing-function);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
/*-----Peculiarities-----*/
.peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}
.peculiarities-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.peculiarities-list > .peculiarities-main {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.icons-peculiarities {
  display: flex;
  height: 120px;
  width: 270px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}
.icons {
  display: block;
  width: 70px;
  height: 70px;
}
.peculiarities-main-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.peculiarities-main-title-org {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*----MAIN-BUTTONS-AND-PROJECTS----*/
.main-buttons {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-buttons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.main-buttons-item:not(:first-child) {
  margin-left: 8px;
}
.main-buttons-item {
  transition: box-shadow var(--time) var(--timing-function);
}
.main-button-all {
  background-color: #2196f3;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 22px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
}
.main-button-other {
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 22px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
  color: var(--second-title-color);
  cursor: pointer;
  transition: color var(--time) var(--timing-function);
  transition: background-color var(--time) var(--timing-function);
}
.main-buttons-item:hover,
.main-buttons-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.main-button-other:hover,
.main-button-other:focus {
  color: var(--main-title-colore);
  background-color: var(--accent-color);
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.projects-list .projects-information {
  flex-basis: calc (100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.projects-cards {
  display: block;
  max-width: 100%;
}
.cards-name {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.projects-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}
.projects-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.projects-information-link {
  display: block;
  transition: box-shadow var(--time) var(--timing-function);
}
.projects-information-link:hover,
.projects-information-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-cards-text {
  position: relative;
  overflow: hidden;
}
.projects-information-text {
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-title-colore);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--time) var(--timing-function);
}
.projects-information-link:hover .projects-information-text {
  transform: translateY(0%);
}
/*----DOING-----*/
.doing {
  padding-bottom: 94px;
}
.doing-title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 50px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.doing-image {
  display: flex;
}
.doing-image .doing-image-pictures:not(:first-child) {
  margin-left: 30px;
}
.doing-image-pictures {
  position: relative;
  display: block;
}
.doing-kind {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-colore);
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}
/*---TEAM----*/
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 50px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.team-worker {
  display: flex;
}
.team-worker .team-worker-about:not(:first-child) {
  margin-left: 30px;
}
.team-worker-about {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.name-function-worker {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-worker-about-name {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.team-worker-function {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.worker-socials {
  display: flex;
  justify-content: center;
}
.socials-item:not(:last-child) {
  margin-right: 10px;
}
.socials-icons {
  fill: #afb1b8;
  transition: fill var(--time) var(--timing-function);
}
.socials-link:hover .socials-icons,
.socials-link:focus .socials-icons {
  fill: var(--main-title-colore);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}
.socials-item {
  width: 44px;
  height: 44px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color var(--time) var(--timing-function);
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-icons > .clients-icons-cards:not(:first-child) {
  margin-left: 30px;
}
.clients-icons-number {
  display: block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  transition: border-color var(--time) var(--timing-function);
}
.one,
.two,
.three,
.four,
.five,
.six {
  transition: fill var(--time) var(--timing-function);
}
.clients-icons-number-cards {
  display: block;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}
.clients-icons-number:hover,
.clients-icons-number:focus {
  border-color: var(--accent-color);
}
.clients-icons-number:hover .one,
.clients-icons-number:hover .two,
.clients-icons-number:hover .three,
.clients-icons-number:hover .four,
.clients-icons-number:hover .five,
.clients-icons-number:hover .six,
.clients-icons-number:focus .one,
.clients-icons-number:focus .two,
.clients-icons-number:focus .three,
.clients-icons-number:focus .four,
.clients-icons-number:focus .five,
.clients-icons-number:focus .six {
  fill: var(--accent-color);
}

/*----FOOTER----*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-logo-web {
  display: block;
  margin-bottom: 20px;
}
.footer-logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-logo-studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-adress {
  font-style: normal;
}
.footer-adress-map {
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
  color: var(--main-title-colore);
}
.footer-email {
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-logo-together {
  display: flex;
  align-items: baseline;
}
.footer-together {
  margin-left: 70px;
}
.together-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--main-title-colore);
}
.together-socials {
  display: flex;
}
.together-item:not(:first-child) {
  margin-left: 10px;
}
.together-icons {
  fill: var(--main-title-colore);
}
.together-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff1a;
  width: 44px;
  height: 44px;
  justify-content: center;
  transition: background-color var(--time) var(--timing-function);
}
.together-link:hover,
.together-link:focus {
  background-color: var(--accent-color);
}
.subscribe {
  margin-left: 93px;
}
.subscribe-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-colore);
}
.subscribe-contact {
  display: flex;
}
.subscribe-email {
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding: 15px 16px;
}
.subscribe-email:focus-within {
  border-color: var(--accent-color);
  outline: none;
}
.subscribe-button {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-colore);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px 10px 29px;
  cursor: pointer;
  border: none;
}
.subscribe-icons {
  margin-left: 10px;
}
/*MODAL*/

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: rgba(23, 26, 36, 0.2);
  transition: opacity var(--time) var(--timing-function),
    visibility var(--time) var(--timing-function);
}
.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--main-title-colore);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.open {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #0000001a;
  border-radius: 50%;
  top: 14px;
  right: 14px;
  cursor: pointer;
  background-color: transparent;
  transition: fill var(--time) var(--timing-function);
}
.open-modal {
  display: block;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}
.icon-close {
  position: absolute;
  padding: 6px;
  width: 11px;
  height: 11px;
}
.open:focus,
.open:hover {
  fill: var(--accent-color);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 12px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--time) var(--timing-function);
}
.modal-form-icon {
  transition: fill var(--time) var(--timing-function);
}
.modal-form-input:focus-within {
  border-color: var(--accent-color);
  outline: none;
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}
.modal-form-field {
  position: relative;
}
.modal-form .modal-form-field:not(:last-child) {
  margin-bottom: 10px;
}
.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}
.input-wrap {
  display: block;
  position: relative;
}
.modal-form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--second-title-color);
}
.modal-form-comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}
.modal-comment:focus-within {
  border-color: var(--accent-color);
  outline: none;
}
.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color var(--time) var(--timing-function);
}
.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.check {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.check-contract {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-left: 3px;
}
.icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-title-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}
.checkbox:checked + .check > .icon-check {
  background-color: var(--accent-color);
  border: none;
}
.checkbox:focus + .check > .icon-check {
  background-color: var(--accent-color);
  border: none;
}
.modal-icon-check {
  fill: #ffffff;
}
.checkbox {
  position: absolute;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.modal-button-submit {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  color: var(--main-title-colore);
  padding: 10px 55px 10px 56px;
  border: none;
  transition: background-color var(--time) var(--timing-function);
}
.modal-button-submit:focus,
.modal-button-submit:hover {
  background-color: #188ce8;
}
