.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.envelope {
  display: block;
  fill: var(--main-text-color);
  transition: fill var(--time) var(--timing-function);
}
.smartphone {
  display: block;
  fill: var(--main-text-color);
  transition: fill var(--time) var(--timing-function);
}
.header-icons {
  margin-right: 10px;
}
.header-email {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time) var(--timing-function);
}
.header-email:hover,
.header-email:focus,
.header-email:hover .envelope,
.header-email:focus .envelope {
  color: var(--accent-color);
  fill: currentColor;
}
.header-tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time) var(--timing-function);
}
.header-tel:hover,
.header-tel:focus,
.header-tel:hover .smartphone,
.header-tel:focus .smartphone {
  color: var(--accent-color);
  fill: currentColor;
}
